{
  "plugins": [
    "@mui/system/babel-plugin",
    [
      "@emotion/babel-plugin",
      {
        "autoLabel": "always",
        "labelFormat": "[local]",
        "sourceMap": true
      }
    ]
  ]
}