.scarousel__container { 
  overflow: hidden; 
  position: relative;
  height: 400px;
}

.scarousel__images { 
  display: flex; 
  flex-direction: column;
  transition: transform 0.5s ease;
}

.scarousel__image_entry { 
  width: 100%; 
  height: 100%; 
}
