.results__content { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;;
}

.results__viewpill { 
  display: flex;
}

.results__content { 
  display: flex; 
}

.results__searchResults_header { 
  color: rgb(255, 255, 255); 
}
