.results__content { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.results__searchResults_header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  justify-items: center;
  width: 100%;
}

.results__searchResults_header > .MuiTypography-root {
  grid-column: 2 / 4; /* Center the Typography component */
  text-align: center;
}

.results__viewpill { 
  margin-right: 20px; 
}