.home__form{ 
    border-radius: 5px;
    padding: 15px; 
    margin-top: 25px; 
    z-index: 1; 
    background-color: #4B4E6D;
    color: white; 
}

.home__formControl { 
    display: flex !important; // Overrides 
    flex-direction: row !important;
}

.home__input { 
    flex: 1; 
    font-style: white;
}

.home__iconButton { 
    flex: 0; 
}

.home__searchBarImage { 
    border-top-left-radius: 4px;
    border-radius: 5px;
    margin-top: 10%;
}