.animeCard__container { 
    margin: 10px;
    max-width: 232px;
    
}

.animeCard__paper {
    display: flex; 
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    min-height: 412px;
    max-width: 232px; // Fix this + ^^ some corners aren't rounded (See Naruto for exmaple)
}

.animeCard__paper:hover {
    background-color: lightgray;
    opacity: 0.8;
}