.friendCard__listItem { 
  display: flex; 
  align-items: center;
  height: 100%;
  padding: 25px; 
  min-width: 480px;
  max-width: 480px;
  box-sizing: content-box !important; // Overwritse border-box css of .MUIImageListItem - root
}

.friendCard__paper {
  display: flex; 
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  min-width: 460px;
  width:100%; 
  background-color: #424242; 
  color: rgb(194, 192, 192);

}

.friendCard__avatar { 
  border: 1px solid black; 
  display: flex;
  width: 33%; // Temp Percentage
}

.friendCard__header { 
  display: flex; 
  position: relative; 
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  color: rgb(194, 192, 192);
}

.friendCard__userName { 
  padding: 10px; 
  flex-wrap: wrap;
  flex-direction: row;
  right: 0px;
}

.friendCard__lastOnline { 
  align-items: flex-end ;
  position: absolute;
  top: 50px;
  right: 0px;
}

// Latest Updates Section 

// Anime Section 

.friendCard__recentlyWatchedEntry {  // Rename to recentlyWatchedContainer
  display: flex; 
  padding: 5px; 
  margin: 0; 
}

.friendCard__recentlyWatched { 
  padding-top: 10px;
}

.friendCard__recentlyWatchedTitle { 
  color: white; 
  text-decoration: none;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
  /*
  position: relative; 
  bottom: 70px;
  padding-left: 5px;
  z-index: 2;
  */
}

.friendCard__recentlyWatchedTitle:hover { 
  color: #3f51b5; 
}

.friendCard__recentlyWatchedThumbnail {
  width: 60px; 
  height: 90px;
}

.friendCard__recentlyWatchedThumbnail:hover { 
  transform: scale(4);
  z-index: 1000;
}

.friendCard__recentlyWatchedInfo {   // DONT NEED ONCE REWORK
  position: relative; 
  bottom: 70px; 
  left: 60px;
  padding-left: 5px;
  z-index: 1;
}

.friendCard__recentlyWatchedStatus {
  padding-top: 10px; 
}

// Manga Section 
.friendCard__recentlyRead { 
  padding-top: 10px;
  
}


