.MainNavigation__logo { 
    padding-right: 5px;
}
.MainNavigation__logoContainer { 
    padding-right: 5px;
    float: left;
}

.MainNavigation__toolbar { 
    background: #7d8fbb m !important ;
}

.MainNavigation__appbar { 
    background: #4B4E6D;
    position: relative;
    z-index: 1400;
}