.singleAnime__container { 
  margin-top: 50px !important;
  min-height: 412px;
  width:100%
}

.singleAnime__image { 
  border-radius: 10px;
  margin-left: 20px;
}

.singleAnime__title { 
  color: rgb(194, 192, 192);
  padding-bottom: 30px;
  font-size: 3rem; 
}

.singleAnime__description { 
  max-width: 400px;
  padding: 20px; 
  margin: 100px;
}

.singleAnime__synopsis_container { 
  color: rgb(194, 192, 192);
  font-weight: 600; 

}

.singleAnime__synopsis { 
  max-height: 400px; 
  width:100%;
}


.singleAnime__info_container { 
  background-color: #424242; 
  display: flex; 
  margin-bottom: 20px; 
  width: fit-content; 
}

.singleAnime__info { 
  padding: 10px;
  background-color: #424242;
  border-radius: 4px;
  color: rgb(194, 192, 192);

}

.singleAnime__additionalInfo {
  margin-left: 20px  !important;
  margin-bottom: 5px !important; 
  color: white;


}

.singleAnime__additionalInfoContainer { 
  width: fit-content; 
}

.singleAnime__linkButton { 
  width: 45%;
}




.singleAnime__section_header { 
  color: rgb(194, 192, 192);
  font-weight: 600; 
}

.singleAnime__related_container { 
  display: flex; 
  flex-direction: column; 
  white-space: nowrap ;

}

.singleAnime__related_entry_group { 
  display: flex;
  overflow-wrap: break-word;

  flex-direction: row;
  white-space: nowrap ;
  overflow: hidden; 
}

.singleAnime__related_entry_container { 
  font-weight: 400; 
}

.singleAnime__related_entry { 
  cursor: pointer;
  text-wrap: nowrap; 
}

.singleAnime__related_entry:hover { 
  color: #228be6; 
}