.singleAnime__container { 
  margin-top: 50px !important;
  min-height: 412px;
}

.singleAnime__image { 
  border-radius: 10px;
  margin-left: 20px;
}

.singleAnime__title { 
  color: white; 
  padding-left: 25px; 
  padding-bottom: 30px;
  font-size: 3rem; 
}

.singleAnime__description { 
  max-width: 400px;
  padding: 20px; 
  margin: 100px;
}

.singleAnime__synopsis { 
  max-height: 400px; 
  padding-top: 10px;
  width:100%;
  color: white; 
}

.singleAnime__container { 
  width:100%
}

.singleAnime__info { 
  padding: 10px;
}

.singleAnime__additionalInfo {
  margin-left: 20px  !important;
  margin-bottom: 5px !important; 
  color: white
}

.singleAnime__additionalInfoContainer { 
  margin-left:20px;

}

.singleAnime__linkButton { 
  width: 45%;
}