.dcard__container { 
  background-color: #424242; 
  border-radius: 4px; 
  width: 100%; 
  display: flex; 
  flex-direction: column;
}

.dcard__card_media { 
  margin: 10px; 

}

.dcard__header { 
  height: 10%; 
  background-color: #424242; 
}

.dcard__header_text { 
  color: white; 
  margin-left: 10px; 
}

.dcard__content { 
  display: flex; 
}