.mainToolBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainToolBar__header { 
  background-color: lightblue;
  display: flex; 
  align-items: center;
}

.mainToolBar__burger { 
  margin-right: auto; 
  padding: 20px; ; 
}

.mainToolBar__logo { 
  height: 48px;
  margin: 10px;
}

.mainToolBar__searchInput { 
  margin-left: auto; 
  padding: 20px; 
}

.mainToolBar__burger{
  display: none;
}

@media (max-width: 768px) {
  .mainToolBar__burger {
    display: block;
  }
}

.mainToolBar__title { 
  display: block;
}

@media (max-width: 768px) {
  .mainToolBar__title {
    display: none;
  }
}

.mainToolBar__navLinks_container { 
  display: flex; 
  justify-content: center;
  width: 50%; 
}

@media (max-width: 768px) {
  .mainToolBar__navLinks_container {
    display: none;
  }
}
