.mantine-DatePickerInput-input {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.showSchedule { 
  text-align: center !important;
  justify-content: center;

}

.mantine-DatePickerInput-input	 { 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
}
