.showSchedule { 

 

  .mantine-dates-input { 
    text-align: center; 
  } 

  .mantine-dates-day { 
    justify-content: center; 
  }

  // Calendar Container and header 
.mantine-DatePicker-levelsGroup { 
  justify-content: center;
  color: #C2C2C0
}

.mantine-DateInput-wrapper { 
  margin: 8px; 
}

.mantine-DateInput-input { 

  color: #C2C2C0;
  font-weight: 800;
  text-align: center;
  cursor: pointer; 
  padding: 0; 


}

.mantine-DateInput-input:hover { 
  background-color: #228be6; 
}

}

